/* General Styling */
* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.logo a {
  color: #36b37e;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}

.desktop_menu {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer p {
  text-align: center;
}

.mobile_menu p {
  background-color: black;
  padding: 2px 15px 2px 15px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  gap: 20px;
  background: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
}

.home h1 {
  font-size: 40px;
}

.home h1 span {
  color: #36b37e;
}

.home p {
  font-size: 26px;
}

footer ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.home ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

footer ul li a img {
  width: 20px;
}

.project_card img {
  height: 252px;
  width: 327px;
  background: #ebf0ee;
}

.about_card img {
  width: 100px;
}

.home ul li a img {
  width: 20px;
}

/* project_styling */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project_heading h2 {
  font-size: 50px;
  font-weight: 700;
  padding: 10px 60px;
  text-align: center;
}

.project_heading p {
  background-color: #36b37e;
  padding: 1px 15px;
}

.project_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 327px;
  height: 474px;
  border: 1px solid #36b37e;
  border-radius: 8px;
  padding: 0 0 50px 0;
}

.project_card h3 {
  font-size: 26;
  text-align: center;
}

.project_card ul {
  display: flex;
  gap: 5px;
  list-style: none;
}

.project_card ul li {
  font-size: 18px;
  background-color: #ebf0ee;
  padding: 5px;
  border-radius: 5px;
}

.project_cards button {
  background-color: #36b37e;
  padding: 5px 10px;
  color: #fff;
  border: none;
  font-size: 15px;
}

/* About section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.about_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.about_text h2 {
  font-size: 50px;
  font-weight: 700;
}

.about_text p {
  font-size: 26px;
}

.about_text button {
  background-color: #36b37e;
  padding: 5px 10px;
  color: #fff;
  border: none;
  font-size: 15px;
}

.about_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.about_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 327px;
  height: 316px;
  border: 1px solid #ebf0ee;
  background-color: #ebf0ee;
  border-radius: 8px;
}

.about_card h3 {
  font-size: 30px;
}

.about_card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.about_card ul li {
  font-size: 18px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #36b37e;
}

/* contact_styling */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 100px 10px;
  border-bottom: 1px solid #36b37e;
  border-radius: 10px;
}

.contact_text p {
  font-size: 40px;
  font-weight: 700;
  padding: 0 20px;
  text-align: center;
}

.contact_form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.contact_form form input {
  width: 280px;
  padding: 10px 0 10px 10px;
  border-radius: 8px;
  border: 1px solid #36b37e;
}

.contact_form form textarea {
  width: 290px;
  padding: 10px 10px 90px 10px;
  border-radius: 8px;
  border: 1px solid #36b37e;
}

.contact_form form button {
  background-color: #36b37e;
  padding: 5px 10px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}

.mail a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0;
  background-color: #ebf0ee;
}

.desktop_menu.active {
  display: flex;
  position: absolute;
  z-index: 1000;
  left: 0;
  width: 100%;
  padding: 500px 10px 300px 10px;
  background-color: #000;
  opacity: 95%;
}

.desktop_menu.active ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  flex-direction: column;
  margin: 200px ;
  padding: 100px 10px;
}

.desktop_menu.active ul li a {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}
.mobile_menu.active{
  z-index: 2000;
}

.mobile_menu.active p {
  background-color: #fff;
}

.mobile_menu.active p:nth-child(1) {
  rotate: 45deg;
  position: relative;
  top: 6px;
}

.mobile_menu.active p:nth-child(2) {
  opacity: 0;
}

.mobile_menu.active p:nth-child(3) {
  rotate: -45deg;
  position: relative;
  top: -12px;
}

/* desktop_styling */
@media (min-width: 1024px) {
  .mobile_menu {
    display: none;
  }

  .desktop_menu {
    display: flex;
  }

  .desktop_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    list-style: none;
    text-align: none;
  }

  .desktop_menu ul li a {
    text-decoration: none;
    font-size: 26px;
    color: #36b37e;
    font-weight: 500;
  }

  nav {
    justify-content: left;
    gap: 35%;
  }

  .home {
    background: url(../images/desktop-home-back.jpg);
    background-size: cover;
    background-position: center;
    padding: 250px 10px;
  }

  .projects {
    margin-bottom: 30px;
  }

  .project_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .about {
    gap: 40px;
    margin-top: 40px;
  }

  .about_text {
    background: url(../images/desk-back-mid-left.jpg), url(../images/desk-back-mid-right.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    background-size: 160px, 160px;
    padding: 0 25px;
    gap: 50px;
  }

  .about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .about-text h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .about-text p {
    font-size: 35px;
  }

  .contact {
    flex-direction: row;
    font-size: 30px;
    margin-right: 65px;
    background: url(../images/dek-cont-left.jpg), url(../images/desk-cont-right.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    background-size: 160px, 160px;
    padding: 0 25px;
    gap: 50px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    grid-template: repeat(2, 1fr);
  }

  .contact_text p {
    font-size: 35px;
    font-weight: 500;
    padding: 0 35px 135px 90px;
    justify-content: center;
    text-align: center;
    background: url(../images/desk-cont-mid.jpg);
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-right: 20px;
    background-position: bottom center;
    background-size: 100px 100px;
  }

  .mail {
    display: none;
  }

  .contact_form form button {
    background-color: #36b37e;
    padding: 8px 15px;
    color: #fff;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .contact_form form {
    gap: 30px;
  }

  .contact_form form input {
    width: 400px;
    padding: 25px 0 20px 25px;
    border-radius: 20px;
    border: 1px solid #36b37e;
    font: 10px;
  }

  .name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    font-size: 50px;
  }
}
